<!-- Modal Form -->
<div class="modal fade" id="{{ formID }}" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data">
          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
                <h4 class="modal-title" id="myModalLabel">Upload your Data</h4>
          </div>          

          <div class="modal-body">

                <div class="alert alert-info">
                    <p>Maximum Number of Genes in Gene expression data is <b>{{ config['MAX_NUM_GENES'] }}</b> genes</p>
                </div>

                <div class="form-group row">
                  <label for="dataset_name" class="col-xs-5 col-form-label">Data set name</label>
                  <div class="col-xs-7">
                    <input class="form-control" name="dataset_name" placeholder="Enter data set name" autofocus>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="user_email" class="col-xs-5 col-form-label">Email address</label>
                  <div class="col-xs-7">
                    <input type="email" class="form-control" name="user_email" aria-describedby="emailHelp" placeholder="Enter email (optional)">
                    <small id="emailHelp" class="form-text text-muted">You will receive an email when prediction is done.</small>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="half_life" class="col-xs-5 col-form-label">Median mRNA Half-Life</label>
                  <div class="col-xs-7">
                    <input type="number" value="10" class="form-control" name="half_life" aria-describedby="half_lifeHelp">
                    <small id="half_lifeHelp" class="form-text text-muted">(Optional)Used for time-series experiments only. Use same units as in the time column in the metadata file.</small>
                  </div>
                </div>


                <!--<div class="form-group row">
                  <label for="dataset" class="col-xs-5 col-form-label">Choose existing data</label>
                  <div class="col-xs-7">
                      <select name="dataset" class="form-control">
                        <optgroup label="DREAM5">
                        {% for item in datasets %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                        </optgroup>
                        <optgroup label="Small Tests">
                          <option>Network 1</option>
                          <option>Neywork 2</option>
                          <option>Network 3</option>
                        </optgroup>
                      </select>
                  </div>
                </div>-->



                <div class="form-group row">
                  <label for="expr_file" class="col-xs-5 col-form-label">Gene Expression *
                    <a class='qTip'><img src="css/images/help.png"></a>
                    <div class='tooltiptext'>The expression data file contains the matrix of gene expression values.</br>
                        Click <a href="samples/roots/expr_more.txt" download>here</a> for full description.</br>
                        <a href="samples/roots/root_expr.tsv" download>Sample file</a>
                    </div>
                  </label>
                    <div class="col-xs-7">           
                        <input type="file" name="expr_file" required>
                    </div>
                </div>

                <!--<div class="form-check row">
                  <label class="form-check-label col-xs-7 col-form-label">
                    <input class="form-check-input" type="checkbox" value="1" name="is_timeseries">
                    Gene expression data is time series
                  </label>
                </div>-->

                <div class="form-group row">
                  <label for="chip_file" class="col-xs-5 col-form-label" >Experiments Meta Data
                    <a class='qTip'><img src="css/images/help.png"></a>
                    <div class='tooltiptext'>Meta data file describes each experiment's features
                        such as: time series duration and repeats.</br>
                        Click <a href="samples/roots/meta_data_more.txt" download>here</a> for full description.</br>
                        <a href="samples/roots/root_meta_data.tsv" download>Sample file</a>
                    </div>
                  </label>

                    <div class="col-xs-7">           
                        <input type="file" name="chip_file">
                        <small class="form-text text-muted">(optional)</small>
                    </div>
                </div>

                <div class="form-group row">
                  <label for="tf_file" class="col-xs-5 col-form-label" >Transcription Factors
                    <a class='qTip'><img src="css/images/help.png"></a>
                    <div class='tooltiptext'>The transcription factors (TFs) file list the genes of the network that are potential TFs.</br>
                        Click <a href="samples/roots/transcription_factors.more.txt" download>here</a> for full description.</br>
                        <a href="samples/roots/root_transcription_factors.tsv" download>Sample file</a>
                    </div>
                  </label>


                    <div class="col-xs-7">           
                        <input type="file" name="tf_file">
                        <small class="form-text text-muted">(optional)</small>
                    </div>
                </div>

                <div class="form-group row">
                  <label for="expr_file" class="col-xs-5 col-form-label">Prior Knowledge
                    <a class='qTip'><img src="css/images/help.png"></a>
                      <div class='tooltiptext'>Known genes and their Transcription factors (TFs).</br>
                        Click <a href="samples/roots/true_edge_more.txt" download>here</a> for full description.</br>
                        <a href="samples/roots/true_edge.tsv" download>Sample file</a>
                    </div>
                  </label>
                    <div class="col-xs-7">
                        <input type="file" name="pk_file">
                        <small class="form-text text-muted">(optional)</small>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="outFilename" class="col-xs-3 control-label">Output filename:</label>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" name="outFilename" placeholder="Default">
                    </div>
                </div> -->
                
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="submitBtn" type=submit class="btn btn-primary">{{okBtn}}</button>
          </div>
      </form>
    </div>
  </div>
</div>

<script>
    $('.qTip').each(function() {
        set_qTip($(this));
     });
</script>