<!-- Modal Form -->
<div class="modal fade" id="{{formID}}" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
                <h4 class="modal-title" id="myModalLabel">Load Job Result</h4>
          </div>
          <div class="modal-body">
              
                <div class="form-group">
                  <label for="job_id" class="col-xs-4 control-label"> Enter Job ID* </label>
                  <div class='col-xs-7'>
                    <input name="job_id" class="form-control" required autofocus>
                  </div>
                </div>

                <!--<div class="form-group">
                  <label for="dataset" class="col-xs-4 control-label">Data Set Name</label>
                  <div class="col-xs-7">
                      <select name="dataset" class="form-control">
                        <optgroup label="DREAM5">
                        {% for item in datasets %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                        </optgroup>
                        <optgroup label="Small Tests">
                          <option>TODO</option>
                        </optgroup>
                      </select>
                  </div>
                </div>-->
                    
                <div class="form-group">
                  <label for="numOfEdges" class="col-xs-4 control-label">Number of edges </label>
                  <div class='col-xs-7'>
                    <input name="numOfEdges" type="number" value="100" min=1 max=1000 class="form-control">
                  </div>
                </div>

                <!-- <div class="form-group">
                  <label for="startGene" class="col-xs-4 control-label">Start at edge number </label>
                  <div class='col-xs-7'>
                    <input name="startGene" type="number" value="0" min=1 max=10000 step=50 class="form-control">
                  </div>
                </div> -->

                <div class="form-group">
                  <label class="col-xs-5 control-label">OR -- </label>
                </div>
                <div class="form-group">
                    <label for="targetGenes" class="col-xs-4 control-label">
                        <b>Target</b> genes IDs </br> (Case-senstive)
                    </label>
                  <div class='col-xs-7'>
                      <textarea rows="4" name="targetGenes" class="form-control"></textarea>
                      <small class="form-text text-muted">Comma separated, maximum 100 genes. Transcription Factors will be included automatically if connected with the given target genes.</small>

                  </div>
                </div>
                  
                
                
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="submitBtn" type="submit" class="btn btn-primary">{{okBtn}}</button>
          </div>
      </form>
    </div>
  </div>
</div>