<!-- Modal Form -->
<div class="modal fade" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" action="#">
          <div class="modal-header">
              <h4 class="modal-title">{{title}}</h4>
          </div>

          <div class="modal-body">
              <div class="alert alert-info">
                  {% for line in message %}
                      {{line}} <br />
                  {% endfor %}
                </div>                 
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" autofocus>OK</button>
          </div>
      </form>
    </div>
  </div>
</div>